<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="luna" sequenceNumber="33">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.6.0.v201405210727"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.6.0.v201405210727"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.6.0.v201405070300-7b7OIumFSK2W_CbOM9lcCU_kNlXd"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.6.0.v201405151800-7G7JFb4CzCV-t-7s2npnOyp-GIS_uC0-gQtFkTxZ"/>
<unit id="org.eclipse.sdk.ide" version="4.4.0.I20140528-2000"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.0.v20140519-0339"/>
<unit id="org.eclipse.emf.compare.feature.group" version="3.0.0.201406041425"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.0.0.201406041425"/>
<unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.3.0.v20140512-1627"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.100.201405261516"/>
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.2.0.201406041235"/>
<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.300.v20140501_1027-20Bg7w31241A29a2752"/>
<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.3.300.v20140501_1027-46FKs9oB58F6KBJl8JA8"/>
<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.100.v20140501_1027-7A77FPZ9xFccxQKMbwPWmPWnAQGG"/>
<unit id="org.eclipse.wst.ws_wsdl15.feature.feature.group" version="1.5.400.v201405061940-2407w312123151655"/>
<unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.6.0.v201405010300-7B7EFVqF7RZHOsJnPz0RDOO"/>
<unit id="org.eclipse.wst.common_ui.feature.feature.group" version="3.6.0.v201405010300-7C7CFhKEdhOaz-oWh9oTk1tKoQz01SEPP"/>
<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.2.400.v20140501_1027-7L3FJPCcNBHRBuJmLBVNB"/>
<unit id="org.eclipse.wst.server_core.feature.feature.group" version="3.3.400.v20140501_1027-35F8N8s735A3G6KA5GC5"/>
<unit id="org.eclipse.wst.server_ui.feature.feature.group" version="3.3.400.v20140501_1027-7B7BFVoAtOeW6SNQZWTbkYWnARHG"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.6.0.v201405062148-7C7OG-8F7RZHQZIgP0NyQn"/>
<repository location="http://download.eclipse.org/releases/staging"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.forms.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
</locations>
<environment>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m -Declipse.p2.mirrors=true -Djava.net.preferIPv4Stack=true</vmArgs>
</launcherArgs>
</target>
